<div class="col-md-8 col-md-offset-2">

  <div class="jumbotron">
    <h2><%= @group.title %></h2>
    <br><br>
    <p ><%= @group.description %></p>
    <% if current_user && current_user == @group.user %>
      <%= link_to("修改讨论组", edit_group_path(@group), class: "btn btn-primary")%>
    <% end %>
  </div>


    <div class="col-md-10">
      <%= link_to("发表讨论", new_group_post_path(@group), class: "btn btn-default")%>
    <% @posts.each do |post| %>
      <hr>
      <div>
        <p><%= post.user.email %></p>
        <p class="text-right"><%= post.created_at %></p>
      </div>


      <%= post.content %>

    <% end %>
  </div>

  <div>

  </div>

</div>
